@import 'partials/variables';

body, body *{
	font-family: 'Poppins', sans-serif;
}
.main-container{
	z-index: 99;
	position: relative;
}
.bg1,.bg2{
	position:fixed;
	z-index:0;
	height:100vh;
	top:0px;
	left:0px;
	width:50%;
}
.bg1{
	background-color: #FFF;
}
.bg2{
	z-index:1!important;
	background-color:#0099FF;
	left:initial!important;
	right:0px;
}

.big-title{
	font-size: 200px;
}