@import 'mixins/alignment';
@import 'mixins/animation';
@import 'mixins/background';
@import 'mixins/box_shadow';
@import 'mixins/color';
@import 'mixins/divider';
@import 'mixins/flex';
@import 'mixins/gradient';
@import 'mixins/radius';
@import 'mixins/responsive';

$xs : '<=767px';
$sm : '>=768px','<=991px';
$md : '>=992px','<=1199px';
$lg : '>=1200px';

$default-font : Poppins, 'Poppins', sans-serif;;
$header-font : Poppins, 'Poppins', sans-serif;;

$color-primary : #f05a28;
$color-secondary: #f7931d;