@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
/* --------- T A B L E  O F  C O N T E N T S

1. defaults
2. forms
3. menu
4. socials
*/
/* line 14, sass/theme.scss */
body {
  font-family: Poppins, "Poppins", sans-serif;
  font-size: 14px;
  background-color: #ededed;
  letter-spacing: .5px;
  color: #2c2c2c;
  overflow-X: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 25, sass/theme.scss */
h1, h2, h3, h4, h5, h6, .title {
  font-family: Poppins, "Poppins", sans-serif;
}

/* line 28, sass/theme.scss */
a:hover {
  color: #f05a28;
}

/* line 31, sass/theme.scss */
input[type="text"], input[type="search"], input[type="password"], input[type="number"], input[type="email"], input[type="date"], textarea, select {
  border: 1px solid #ccc;
  padding: 8px 10px;
  width: 100%;
  color: #2c2c2c;
}

/* line 38, sass/theme.scss */
.c-primary {
  color: #f05a28;
}

/* line 42, sass/theme.scss */
.bg-primary {
  background: #f05a28;
}
/* line 44, sass/theme.scss */
.bg-primary a, .bg-primary p, .bg-primary label, .bg-primary span, .bg-primary i {
  color: #FFF;
}
/* line 47, sass/theme.scss */
.bg-primary input[type="text"], .bg-primary input[type="search"], .bg-primary input[type="password"], .bg-primary input[type="number"], .bg-primary input[type="email"], .bg-primary input[type="date"], .bg-primary textarea, .bg-primary select {
  border-color: #f05a28;
  background: #FFF;
}

/* line 52, sass/theme.scss */
section {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* line 58, sass/theme.scss */
.ui {
  position: relative;
}
/* line 59, sass/theme.scss */
.ui * {
  font-family: 'Poppins', sans-serif;
}
/* line 63, sass/theme.scss */
.ui.box {
  padding: 24px;
  box-shadow: 0 10px 40px -6px #e0e0e0;
  background: #fff;
}
/* line 68, sass/theme.scss */
.ui.floating-badge {
  position: absolute;
  z-index: 20;
}
/* line 71, sass/theme.scss */
.ui.floating-badge.pull-left {
  left: -5px;
  right: initial;
}
/* line 75, sass/theme.scss */
.ui.floating-badge.pull-right {
  left: initial;
  right: -5px;
}
/* line 79, sass/theme.scss */
.ui.floating-badge.pull-top {
  top: -5px;
  bottom: initial;
}
/* line 83, sass/theme.scss */
.ui.floating-badge.pull-bottom {
  top: initial;
  bottom: -5px;
}
/* line 88, sass/theme.scss */
.ui.line-input {
  background: none;
  border: 0px;
  border-bottom: 1px solid #ccc;
  padding: 0px 0px 5px 0px;
  outline: none;
}
/* line 95, sass/theme.scss */
.ui.floating-buttons {
  position: absolute !important;
  z-index: 20;
  display: table;
}
/* line 99, sass/theme.scss */
.ui.floating-buttons.pull-left {
  left: 0px;
  right: initial;
}
/* line 103, sass/theme.scss */
.ui.floating-buttons.pull-right {
  left: initial;
  right: 0px;
}
/* line 107, sass/theme.scss */
.ui.floating-buttons.pull-top {
  top: 0px;
  bottom: initial;
}
/* line 111, sass/theme.scss */
.ui.floating-buttons.pull-bottom {
  top: initial;
  bottom: 0px;
}
/* line 116, sass/theme.scss */
.ui.ui-error p {
  margin: 0px;
  font-size: 12px;
}
/* line 121, sass/theme.scss */
.ui.inside-icon {
  position: relative;
}
/* line 123, sass/theme.scss */
.ui.inside-icon span.icon {
  position: absolute;
  color: #000;
  font-size: 20px;
  left: 10px;
  top: 8px;
}
/* line 130, sass/theme.scss */
.ui.inside-icon input {
  padding-left: 40px;
}
/* line 134, sass/theme.scss */
.ui.float-input {
  margin-top: 24px;
}
/* line 136, sass/theme.scss */
.ui.float-input input, .ui.float-input textarea {
  padding: 10px 15px;
  border: 1px solid #ededed;
  border-radius: 7px;
  font-weight: 400;
  outline: none;
}
/* line 142, sass/theme.scss */
.ui.float-input input:focus, .ui.float-input textarea:focus {
  border: 1px solid #e0e0e0;
  box-shadow: 0 5px 40px -6px #e0e0e0;
}
/* line 147, sass/theme.scss */
.ui.float-input label {
  font-weight: 400;
  position: absolute;
  top: 0;
  padding: 12px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  pointer-events: none;
}
/* line 157, sass/theme.scss */
.ui.float-input input:focus + label,
.ui.float-input input:valid + label, .ui.float-input.enabled label,
.ui.float-input textarea:focus + label,
.ui.float-input textarea:valid + label {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  padding: 7px 0 0 0px;
}
/* line 170, sass/theme.scss */
.ui.button {
  border: none;
  background: #ff843c;
  color: #FFF;
  padding: 10px;
  min-width: 150px;
  border-radius: 7px;
  box-shadow: 0 5px 40px -6px #ff843c;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
/* line 185, sass/theme.scss */
.ui.button.rounded {
  border-radius: 20px;
}
/* line 189, sass/theme.scss */
.ui.button.button-icon {
  min-width: initial !important;
}
/* line 192, sass/theme.scss */
.ui.button.button-danger {
  background: #f56954;
  box-shadow: 0 5px 10px -6px #f56954;
}
/* line 195, sass/theme.scss */
.ui.button.button-danger:hover {
  background: #f55840;
  color: #FFF;
  box-shadow: 0 10px 40px -6px #f55840;
}
/* line 201, sass/theme.scss */
.ui.button.button-success {
  background-color: #40b649;
  box-shadow: 0 5px 10px -6px #40b649;
}
/* line 204, sass/theme.scss */
.ui.button.button-success:hover {
  background: #23a52d;
  color: #FFF;
  box-shadow: 0 10px 40px -6px #23a52d;
}
/* line 210, sass/theme.scss */
.ui.button.button-info {
  background-color: #09f;
  box-shadow: 0 5px 10px -6px #09f;
}
/* line 213, sass/theme.scss */
.ui.button.button-info:hover {
  background: #017dd0;
  color: #FFF;
  box-shadow: 0 10px 40px -6px #017dd0;
}
/* line 219, sass/theme.scss */
.ui.button:hover {
  background: #f97528;
  color: #FFF;
  box-shadow: 0 10px 40px -6px #f97528;
}

/* line 227, sass/theme.scss */
.menu {
  list-style: none;
}
/* line 229, sass/theme.scss */
.menu li {
  list-style: none;
  float: left;
}
/* line 232, sass/theme.scss */
.menu li a {
  opacity: .7;
}
/* line 234, sass/theme.scss */
.menu li a:hover, .menu li a a.opacity-full {
  opacity: 1 !important;
}

/* line 242, sass/theme.scss */
.socials {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
/* line 246, sass/theme.scss */
.socials li {
  list-style: none;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
/* line 251, sass/theme.scss */
.socials li:last-child {
  margin-right: 0px !important;
}
/* line 254, sass/theme.scss */
.socials li a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f05a28;
  color: #FFF;
  opacity: 1;
}
/* line 262, sass/theme.scss */
.socials li a.fb {
  background: #3b5998;
}
/* line 265, sass/theme.scss */
.socials li a.tw {
  background: #55acee;
}
/* line 268, sass/theme.scss */
.socials li a.insta {
  background: #e95950;
}
/* line 271, sass/theme.scss */
.socials li a.linked {
  background: #007bb5;
}
/* line 274, sass/theme.scss */
.socials li a:hover, .socials li a:visit, .socials li a:link {
  text-decoration: none;
}

/* line 280, sass/theme.scss */
.box {
  border: 1px solid #e0e0e0;
  box-shadow: 0 10px 40px -6px #e0e0e0;
  background: #fff;
}
/* line 284, sass/theme.scss */
.box.border-none {
  border: none !important;
}

/* line 289, sass/theme.scss */
.progress {
  height: 8px;
  border-radius: 0px;
  box-shadow: none !important;
}
/* line 293, sass/theme.scss */
.progress .progress-bar {
  width: 0px;
  background-color: #0099ff;
  box-shadow: 0 5px 10px -6px #0099ff;
}
